<%= render :file => "#{Rails.root}/public/designs/themes/cirandas/small_header.html.erb" %>

<div id="rede-moinho-header">
  <div id="header-cobertura"></div>

  <div id="top-banner"></div>
  <div class="margin-wrap">
    <div id="site-title">
      <a href="http://redemoinho.coop.br"><span>RedeMoinho - Cooperativa de Comércio Justo e Solidário</span></a>
    </div>

    <div id="header-navigation">
      <ul>
        <li><a href="http://redemoinho.coop.br/conheca-mais-a-redemoinho">Quem Somos</a></li>
        <li><a href="http://redemoinho.coop.br/catalog/redemoinho">Compre Aqui!</a></li>
        <li><a href="http://redemoinho.coop.br/como-se-associar-a-redemoinho" id="bt-associar">Como se Associar?</a></li>
        <li><a href="http://redemoinho.coop.br/nossos-contatos">Fale Conosco!</a></li>
      </ul>
    </div>
  </div>

  <% javascript_tag do %>
    jQuery(window).bind('userDataLoaded', function(ev, data) {
      //jQuery('<a href="/myprofile/redemoinho" id="redemoinho-ctrl"><i class="icon-menu-ctrl-panel"></i><strong>RedeMoinho</strong></a>').insertAfter('#homepage-link');
      if ( data && data.login ) document.body.className += ' logged-in';
        else document.body.className += ' logged-out';
      });
  <% end %>

</div>
