/* use with @extend, CSS clear bugfix */
.clean {
  clear: both; }

.container-clean {
  overflow: hidden;
  display: inline-block;
  /* Necessary to trigger "hasLayout" in IE */
  display: block;
  /* Sets element back to block */ }

/* layout base parameters */
/* heights should only use multiples of this */
/* base measurements */
/* widths should only use one of these */
/* paddings and margins should only use one of these
   REMEMBER to disccount the borders size from padding, as borders uses padding's space.
 */
/* use for borders */
/* use for text shadows */
/* Colors */
/* Fonts */
/* Paragraphs Styles (use with @extend) */
.pstyle-none {
  font-size: 12px; }

.pstyle-basic {
  font-size: 16px; }

.pstyle-button {
  font-size: 16px; }

.pstyle-button-small {
  font-size: 13px; }

.pstyle-title {
  font-size: 72px; }

.pstyle-h1 {
  font-size: 34px; }

.pstyle-h2 {
  font-size: 26px; }

.pstyle-h3 {
  font-size: 21px; }

.pstyle-h4 {
  font-size: 16px; }

.pstyle-h5 {
  font-size: 13px; }

.pstyle-title-section {
  font-size: 92px; }

.pstyle-field {
  font-size: 13px; }

.pstyle-menu-big-selected {
  font-size: 21px; }

.pstyle-menu-big-unselected {
  font-size: 21px; }

.pstyle-menu-medium-selected {
  font-size: 16px; }

.pstyle-menu-medium-unselected {
  font-size: 16px; }

.pstyle-menu-small-selected {
  font-size: 13px; }

.pstyle-menu-small-unselected {
  font-size: 13px; }

.pstyle-tp4 {
  font-size: 42px; }

.pstyle-tp3 {
  font-size: 34px; }

.pstyle-tp2 {
  font-size: 26px; }

.pstyle-tp1 {
  font-size: 21px; }

.pstyle-tm1 {
  font-size: 13px; }

.pstyle-tm2 {
  font-size: 10px; }

/* Images */
/* profile-image that can be centered and resized with aspect ratio */
.profile-image {
  display: inline-block;
  /* do not put padding in this as background size will consider it. */ }
  .profile-image.thumb {
    width: 32px;
    height: 32px; }
  .profile-image.portrait {
    width: 80px;
    height: 80px; }
  .profile-image .inner {
    display: block;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    background-size: contain;
    /* css3 enabled */ }

/* Buttons */
.action-button {
  display: inline-block;
  padding: 4px 8px;
  margin: 0;
  /* remove submit input browser's margin */
  height: auto;
  width: auto;
  color: white;
  background: #394e41;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  text-shadow: none;
  border: none;
  border-radius: 5px; }
  .action-button:visited, .action-button:active, .action-button:hover {
    color: white; }

/* Globals */
a {
  color: #24B66E; }

/* Structure */
/* Header */
/* User menu */
/* Help */
#navigation #header-help a {
  color: #24b66e; }

/* Categories Menu */
/* Navigation */
#navigation ul {
  border-top-color: #ddffd9; }

#navigation li .menu-submenu-trigger {
  background-color: #8effa1;
  border-color: #8effa1; }

#navigation li .menu-submenu {
  background-color: #8effa1; }

#navigation li .menu-submenu ul {
  background-color: #8effa1;
  border-color: #8effa1;
  border-bottom: 1px dotted #000; }

/* Content */
#content {
  border-top-color: #24b66e; }

#content .main-block h1, #not-found h1, #access-denied h1 {
  color: #24b66e; }

#content h1.page-title {
  background: #24B66E; }

/* Chat */
/* Balloon */
#content .menu-submenu-content {
  border-color: #24b66e; }

.menu-submenu-footer {
  background-image: url("../images/balloon-green.png"); }

#content .menu-submenu h4 {
  border-bottom-color: #8effa1; }

.action-friends-index .profile-list li, .common-profile-list-block .vcard {
  border-color: #24b66e; }

#content .profile-list li a,
#content .common-profile-list-block li a {
  color: #24B66E; }

/* Block */
.highlights-label {
  background-image: url(../images/green-alpha-pixel.png); }

.highlights-block-pager a.activeSlide:visited, .highlights-block-pager a.activeSlide {
  color: #24b66e; }

#content .block h2, #content .block-title {
  background-color: #DDFFD9; }

#content .block-title {
  background-color: #DDFFD9; }

#content .login-block .not-logged-user {
  background-color: #DDFFD9; }

.profile_link span {
  color: #24B66E; }

.common-profile-list-block .vcard .menu-submenu-trigger,
.menu-submenu-trigger {
  border-right-color: #24b66e;
  border-top-color: #24b66e; }

.common-profile-list-block .vcard .menu-submenu-trigger:hover,
.menu-submenu-trigger:hover {
  background-color: #24b66e; }

.feed-reader-block li a, .recent-documents-block li a {
  color: #24B66E; }

#content .link-list-block li a {
  background-color: #DDFFD9; }

#content .link-list-block li a:hover {
  background-color: #0C7240; }

#content .link-list-block li a.link-this-page {
  background-color: #24B66E;
  border-right: 0; }

#content .link-list-block li a.link-this-page:hover {
  background-color: #0C7240;
  border-right: 0; }

.blog-archives-block ul ul li a {
  color: #24B66E; }

.my-network-block li a {
  color: #24B66E; }

#profile-footer {
  border-top: 1px solid #24B66E;
  margin-top: 16px; }

.controller-profile_editor .control-panel a:hover {
  background-color: #DDFFD9; }

/* Footer */
#theme-footer a {
  color: #24B66E; }

/* Blog */
#content .blog-post .title a {
  color: #24B66E; }

/* Portal */
#content #highlighted-news h2 a {
  color: #24B66E; }

/* Search */
