<%= render :file => "#{Rails.root}/public/designs/themes/cirandas/navigation.html.erb",
  :locals => {:calculate_spacing => false} %>
<li id="header-help" class="header-icon"><a href="/ajuda"></a></li>
<li id="header-search" class="header-icon"><a href="#"></a></li>
