
@import url(bootstrap/all.css);

@import "stylesheets/theme";


@media screen and (min-width: 768px) {
  .block, .no-boxes {
    border: none !important;
  }

  #wrap-1 {
    background-color: white !important;
    box-shadow: 0 0 10px black;
    -ms-box-shadow: 0 0 10px black;
    -moz-box-shadow: 0 0 10px black;
    -webkit-box-shadow: 0 0 10px black;
  }
}

@media screen and (max-width: 767px) {
  .block, .no-boxes {
    box-shadow: 0 0 10px black;
    -ms-box-shadow: 0 0 10px black;
    -moz-box-shadow: 0 0 10px black;
    -webkit-box-shadow: 0 0 10px black;
  }
}
/*
.navbar-default {
  color: #333333;
}*/

#theme-footer #language-chooser {
  text-align: left;
}



/* armengue */

/* didn't find why .no-boxes has bigger width than its parent */ 
.no-boxes {
  width: 96%;
}

@media screen and (min-width:1200px) {
  a.icon-help {
    font-size: 0;
  }

  a.icon-help:before {
    font-size:15px;
  }
}

.cirandas-responsive-top-logo {
  background:url(/designs/themes/cirandas-responsive/images/cirandas-logo-110.png);
  width:110px;
  height:64px;
  margin-right:10px;
  display: inline-block;
  vertical-align: top;
  margin-top: -10px;
}

.navbar-brand {
  font-size: 0;
}


