@import '../../cirandas/stylesheets/cirandas';
@import '../../cirandas/stylesheets/small';

$base-color: #24B66E;
$navigation-color: #8effa1;
$blocks-color: #DDFFD9;

@import 'set_base_color';
@include set_base_color($base-color, $navigation-color, $blocks-color);

@import url(http://fonts.googleapis.com/css?family=Ubuntu:regular,bold&subset=Latin);

#content {
  margin-top: 0;
  padding-top: 0;

  #content-inner {
    position: inherit;
    padding-top: 0;

    #profile-header {
      margin-top: 10*$height;
      margin-left: $module03;
    }

    .boxes {
      .box-1, .box-2, .box-1 {
        position: inherit;
      }

      .box-2 {
        .blocks {
          margin-top: 150px;
        }

        .profile-image-block {
          position: absolute;
          top: $margin;
        }

        .link-list-block {
          position: absolute;
          top: $margin;
          left: $module04 - $intercolumn - $half-padding;
          height: 10*$height;
          width: $module08;

          ul {
            li {
              float: left;
              margin: 0 2px;

              a, a.link-this-page {
                background-position: 0;
                margin: 0;
                padding: 0 7px;
                background: none;
                font-size: 15px;
                color: black;
                font-weight:bold;
                font-family: Ubuntu;
              }

              &:hover, a:hover, a.link-this-page:hover {
                background: $blocks-color;
                border-radius: 20px;
                border:none;
              }

              a.link-this-page {
                text-decoration: underline;
              }
            }
          }
        }
      }
    }
  }
}

#content h1.page-title {
  display:none;
}

.profile-info-block a {
  font-size: small !important;
}

#content .block h2,
#content .block-title {
  color: #217335;
}

#content {

  .box-2 {

    .main-block h1, #not-found h1, #access-denied h1 {
      font-variant: normal;
      font-weight: normal;
      font-family:Ubuntu;
      font-size:28px;
    }
  }
}


#profile-footer {
	padding-top: 150px;
}

.profile-info-block a {
  font-size: normal;
}

#wrap-2 {
  margin-top: 40px;
  border-top: 0;
}

#profile-header {
  padding-bottom: 20px;
}

.block-inner-2 h3.block-title {
  display: none;
}

#content .blog-post .title a  {
  font-weight: bold;
}

.controller-profile_design #titulo_materia {
  top: 10px; /* somente na admin */
}

