$general-font: "Lato";
$text-color: #666;
$top-menu-bg: #333;
$links-hover: #333;
$catalog-details-bg-hover: #3AAACF;
$product-name-color: #333;
$block-title: #333;
$header-bg: #222;
$footer-link-color: #08B8F9;
$content-title-bg: transparent;
$links: #085E9B;
$footer-bg: #333;
$product-price: #0194C7;
$profile-footer: #fff;
$top-menu-hover-color: #ccc;
$profile-footer-link-color: #08B8F9;
$body-background: #cc9900;
$link-list-block: #021848;
$link-this-page: #fff;
$profile-footer-bg: #333;
$content-title: #333;
$link-list-block-bg: #08B8F9;
$catalog-details-bg: #06276F;
$ees-name-color: #08B8F9;
$top-menu-color: #08B8F9;
$top-menu-hover-color-bg: transparent;
$footer-color: #fff;
$link-this-page-bg: #333;
$theme-name: "tantascores-recantico";
