<%= theme_include('env_navigation') %>

<div id="header-content">
  <div id='logo'><%= link_to('<span>Faces do Brasil</span>', '/'+profile.identifier) %></div>
  <div id='right-elements'>
    <ul>
      <li><div id="top-search"><%= render :partial => 'shared/profile_search_form' %></div></form>
      </li>
      <li><span>Portal de Comércio Justo e Solidário</span></li>
    </ul>
  </div>
</div>
