@import url(/designs/themes/cirandas/style.css);
@import url(stylesheets/style.css);
@import url(http://fonts.googleapis.com/css?family=Open+Sans);

/* General */

body{
  background: #FFF;
}

body, h3.block-title, h1, h2{
  font-family: 'Open Sans';
}

#wrap-1{
  margin-top: 40px;
  background: url('images/bg_reciclado_topo.jpg') repeat top left;
}

#wrap-2{
  background: none;
  border: none;
}

/* Header Content  */
#header-content{
  width: 100%;
  height: 130px;
}

#logo{
  width: 25%;
  height: 100%;
  float: left;
}

#logo a{
  width: 155px;
  background: url('images/LogoFaces155x85.png') no-repeat center center;
  height: 130px;
  margin: auto;
  display: block;
}

#logo span{
  display: none;
}

#right-elements{
  width: 75%;
  float: left;
  height: 100%
}

#right-elements ul{
  list-style: none;
  margin-top: 0px;
}

#right-elements li{
  margin: 40px 30px 0 0;
  text-align: right;
  color: #b5003c;
}

#top-search input{
  width: 200px;
  height: 20px;
  font-size: 16px;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.7);
}

#top-search input:hover{
  background: #fff;
}

#profile-header p {
  margin: 0;
}

#profile-header img {
  width: 100%;
  height: 100%;
  border-top: 5px solid #b5003c;
  border-bottom: 5px solid #b5003c;
}

#profile-header{
  max-height: 300px;
  max-width: 100%;
}

/* Top Menu */

#top-menu{
  width: 100%;
  height: 27px;
  z-index: 0;
  margin-top: 30px;
}

#top-menu ul{
  list-style: none
}

#top-menu li{
  float: left;
  width: auto;
  height: 40px;
}

#top-menu a, #top-menu a:visited{
  background: #b5003c;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  height: 100%;
  padding: 5px 10px;
  color: #FFF;
  font-size: 16px;
  text-decoration: none;
  -webkit-box-shadow: -5px 0px 7px 00px #550000;
  -moz-box-shadow: -5px 0px 7px 00px #550000;
  box-shadow: -5px 0px 7px 00px #550000;
}

#top-menu a:hover{
  color: #FFF;
  background: #7e002a;
}

#content h1.page-title{
  display: none;
}

/* Boxes */

#boxes{
  padding-top: 15px;
  -webkit-box-shadow:  0px -4px 5px rgba(85, 0, 0, 0.3);
  -moz-box-shadow:  0px -4px 5px rgba(85, 0, 0, 0.3);
  box-shadow: 0px -4px 5px rgba(85, 0, 0, 0.3);
  z-index: 1;
  position: relative;
  background: url('images/bg_reciclado_topo.jpg') repeat top left;
  padding-top: 40px;
}

/* Box-2 */

.box-2 .block-outer{
  background: #fff;
  -webkit-box-shadow:  0px 0px 10px 2px rgba(0, 0, 0, 0.4);
  -moz-box-shadow:  0px 0px 10px 2px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.4);
}

#content .box-2 h3.block-title{
  background: #b5003c;
  color: #fff;
  font-family: 'Open Sans';
  text-transform: inherit;
  padding: 10px 20px;
}

#content .box-2 .block h2 {
  font-family: 'Open Sans';
  font-size: 14px;
}

.box-2 p {
  text-align: center;
}

.box-2 img {
  margin: auto;
  max-width: 180px;
  max-height: 180px;
  padding: 10px;
}

.article-block .short-post {
  padding: 0 10px;
}

/* Display Content */

.display-content-block a.link-this-page, .display-content-block a, .display-content-block a:visited {
  color: #000;
  font-size: 16px;
  font-family: 'Open Sans';
  text-decoration: none;
  padding: 0 0 0 10px;
}

.display-content-block a:hover{
  color: #b5003c;
}

.block.display-content-block ul{
  list-style: square inside;
  padding: 0 0 10px 10px;
}

.display-content-block li {
  padding: 0px;
}

.box-2 .logged-user-info {
  padding: 0px 0px 10px 10px;
}

/*** Link-list ***/

#content .link-list-block ul{
  padding: 5px;
}

#content .link-list-block li a,
#content .link-list-block li a.link-this-page, 
#content .link-list-block li a:visited, 
#content .link-list-block li a:hover, 
#content .link-list-block li a.link-this-page:hover{
  background: #fff;
  color: #000;
  border: none;
}

#content .link-list-block li a.link-this-page{
  color: #b5003c;
}

#content .link-list-block li a:hover{
  color: #7e002a;
}

/** Box-1 **/

.box-1 .blocks {
  padding: 5px 15px;
  background: #fff;
  -webkit-box-shadow:  0px 0px 10px 2px rgba(0, 0, 0, 0.4);
  -moz-box-shadow:  0px 0px 10px 2px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.4);
}

#content .main-block h1, #not-found h1, #access-denied h1{
  color: #b5003c;
}

#content h1.title {
  font-family: 'Open Sans';
  font-size: 28px;
}

#content .vote-actions{
  display: none;
}

#content #addThis{
  display: none;
}

/* Blog */
#content .box-1 .blog-post .title {
  border: none;
  background: #F7E5EB;
  padding: 5px 20px;
}

#content .box-1 .blog-post .title a {
  color: #000;
}

#content .box-1 .blog-post {
  padding-left: 4px;
}

#content .box-1 .blog-post span.created-at, #content .blog-post p {
  padding-left: 20px;
}



/** Footer **/
#profile-footer{
  background: url('images/creditos.png') no-repeat right bottom;
  color: #000;
  border: none;
  height: 50px;
}

#theme-footer {
  border: none;
  background: #fff;
}

#footer-info{
  padding: 10px 0px;
}

#footer-info p{
  color: #000;
  font-size: 12px;
  text-align: center;
}

#footer-copyright p{
  color: #b5003c;
}

#footer-copyright a{
  color: #7e002a;
}

#footer-copyright {
  margin-top: 20px;
}

/***** Quick links *****/
 
#admin-links {
  position: fixed;
  top: 50px;
  left: 0px;
  z-index: 100;
}
 
.quick-admin-link {
  display: block;
  font-weight: bold;
  font-size: 12px;
  border: 1px solid #AAA;
  background: #EDF8FA;
  text-align: center;
  padding: 5px 10px;
  margin: 10px 0px;
  border-left: none;
  border-radius: 0px 8px 8px 0px;
  left: 0px;
  text-decoration: none;
  box-shadow: 0 6px 10px -4px #888;
  -moz-box-shadow: 0 6px 10px -4px #888;
  -webkit-box-shadow: 0 6px 10px -4px #888;
}
 
#theme-footer a.quick-admin-link {
  color: #000;
}
 
#theme-footer a.quick-admin-link a:hover {
  text-decoration: underline;
}
 
#profile-admin {
  top: 10px;
}
 
#edit-blocks.quick-admin-link {
  top: 40px;
}
