<div id='cirandas-navigation'>
  <%= theme_include('env_navigation') %>
</div>

<ul id="top-menu">
  <li><a href="/<%= profile.identifier %>">Início</a></li>
  <li><a href="/<%= profile.identifier %>/quem-somos">Quem Somos</a></li>
  <li><a href="/catalog/<%= profile.identifier %>">Loja Virtual</a></li>
</ul>
