[submodule "cirandas"]
	path = cirandas
	url = git://github.com/CIRANDAS/cirandas-theme.git
[submodule "cirandas-green"]
	path = cirandas-green
	url = git://github.com/CIRANDAS/cirandas-green-theme.git
