<div id="footer-content">
  <p id="footer-first"></p>

  <div id="footer-left">
    <%= language_chooser %>
    <p><a href="http://noosfero.org">Noosfero</a>, versão <%= Noosfero::VERSION %></p>
  </div>

  <div id="footer-middle">
    <p>Veja quem são nossos <a href="http://noosfero.org/Site/SponsorsPtbr">Parceiros e apoiadores</a></p>
  </div>

  <div id="footer-right">
    <p id="footer-fbes">Um projeto do <a href="http://www.fbes.org.br">FBES</a>, Fórum Brasileiro de Economia Solidária</p>
  </div>

</div>

<div id="footer-bottom">
</div>

<% title_name = @profile ? escape_javascript(@profile.short_name(53)) : '' %>

<script type="text/javascript">
  cirandas_theme.load_footer('<%= title_name %>', <%= (!! @profile and @profile.enterprise?).to_json %>);
</script>

