<li class="navigation-contents" style="padding-left: 0;"><%= search_contents_menu %></li>
<li class="navigation-people"><%= search_people_menu %></li>
<li><a href="/search/products"><span>Produtos</span></a></li>
<li><a href="/search/enterprises"><span>Empreendimentos</span></a></li>
<li class="navigation-communities"><%= search_communities_menu %></li>
<li style="padding-right: 0;"><a href="/search/events"><span>Eventos</span></a></li>

<div id="header-help" class="header-icon"><a href="/doc">Ajuda</a></div>
