<li style="padding-left: 8px;"><a href="/assets/articles"><span>Artigos</span></a></li>
<li class="navigation-people"><%# browse_people_menu %></li>
<li><a href="/ajuda/em-breve"><span>Produtos</span></a></li>
<li><a href="/assets/enterprises"><span>Empreendimentos</span></a></li>
<li class="navigation-communities"><%= browse_communities_menu %></li>
<li style="padding-right: 0;"><a href="/assets/events"><span>Eventos</span></a></li>

<div id="header-help"><a href="/doc">Ajuda</a></div>
