<div id='cirandas-top-bar'>
  <%= link_to '', environment.top_url, :id => 'tb-logo' %>

  <div id='tb-middle'>
    <div id='tb-search' style="display: none">
      <form action="/search" method="get">
        <input name="query" size="15" placeholder="<%=_('Search...')%>" />
      </form>
    </div>
  </div>
</div>

<script type="text/javascript">
  cirandas_theme.load_small_header();
</script>
