<div id='cirandas-top-bar'>
  <%= link_to '', environment.top_url, :id => 'tb-logo' %>

  <div id='tb-middle'>
    <form id='tb-search' action="/search" method="get" style="display: none">
      <input name="query" size="15" />
    </form>
  </div>
</div>

<script type="text/javascript">
  jQuery(function($) {
    $('#user').appendTo('#cirandas-top-bar');
    $('#navigation').prependTo('#tb-middle');
  });
</script>
