<%= render :file => "#{Rails.root}/public/designs/themes/cirandas/common.html.erb" %>

<div id='cirandas-top-bar'>
  <%= link_to '', environment.top_url, :id => 'tb-logo' %>

  <div id='tb-middle'>
    <div id='tb-search' style="display: none">
      <form action="/search" method="get">
        <input name="query" size="15" placeholder="<%=_('Search...')%>" />
      </form>
    </div>
  </div>
</div>

<script type="text/javascript">
  if (typeof cirandas_theme === 'undefined') cirandas_theme = {};
  cirandas_theme.small_header = true;
</script>
