@import url(../cirandas/style.css);

/* Globals */

a {
  color: #24B66E;
}

/* Structure */

/* Header */

/* User menu */

/* Help */

#navigation #header-help a { 
  color: #24b66e;
}

/* Categories Menu */

/* Navigation */

#navigation ul {
  border-top-color: #ddffd9;
}

#navigation li .menu-submenu-trigger {
  background-color: #8effa1;
  border-color: #8effa1;
}

#navigation li .menu-submenu {
  background-color: #8effa1;
}

#navigation li .menu-submenu ul {
  background-color: #8effa1;
  border-color: #8effa1;
  border-bottom: 1px dotted #000;
}

/* Content */

#content {
  border-top-color: #24b66e;
}

#content .main-block h1, #not-found h1, #access-denied h1 {
  color: #24b66e;
}

#content h1.page-title {
  top: 133px;
}

/* Chat */

/* Balloon */

#content .menu-submenu-content {
  border-color: #24b66e;
}

.menu-submenu-footer {
	background-image: url('images/balloon.png');
}

#content .menu-submenu h4 {
  border-bottom-color: #8effa1;
}

.action-friends-index .profile-list li, .common-profile-list-block .vcard {
  border-color: #24b66e;
}

#content .profile-list li a,
#content .common-profile-list-block li a {
  color: #24B66E;
}

/* Block */

.highlights-label {
	background-image: url(images/green-alpha-pixel.png);
}

.highlights-block-pager a.activeSlide:visited, .highlights-block-pager a.activeSlide {
  color: #24b66e;
}

#content .block h2, #content .block-title {
  background-color: #DDFFD9;
}

#content .block-title {
  background-color: #DDFFD9;
}

#content .login-block .not-logged-user {
  background-color: #DDFFD9;
}

.profile_link span {
  color: #24B66E;
}

.common-profile-list-block .vcard .menu-submenu-trigger,
.menu-submenu-trigger {
  border-right-color: #24b66e;
  border-top-color: #24b66e;
}

.common-profile-list-block .vcard .menu-submenu-trigger:hover,
.menu-submenu-trigger:hover {
  background-color: #24b66e;
}

.feed-reader-block li a, .recent-documents-block li a {
  color: #24B66E;
}

#content .link-list-block li a {
  background-color: #DDFFD9;
}

#content .link-list-block li a:hover {
  background-color: #0C7240;
}

#content .link-list-block li a.link-this-page {
  background-color: #24B66E;
  border-right: 0;
}

#content .link-list-block li a.link-this-page:hover {
  background-color: #0C7240;
  border-right: 0;
}

.blog-archives-block ul ul li a {
  color: #24B66E;
}

.my-network-block li a {
  color: #24B66E;
}

#profile-footer {
  border-top: 1px solid #24B66E;
}

.controller-profile_editor .control-panel a:hover {
  background-color: #DDFFD9;
}

/* Footer */

#theme-footer a {
  color: #24B66E;
}

/* Blog */

#content .blog-post .title a {
  color: #24B66E;
}

/* Portal */

#content #highlighted-news h2 a {
  color: #24B66E;
}

/* Search */

/* Shopping cart plugin */

.cart .item-name {
  margin-right: 0;
  padding-right: 20px;
  font-size:0.8em;
}
.cart .picture {
  display:none
}
.cart input {
  border: 1px solid #ccc;
}
.cart input:hover,
.cart input:focus {
  border: 1px solid #777;
}
