<li class="navigation-button"><a href="/<%= profile.identifier %>">Início</a></li>
<li class="navigation-button"><a href="/<%= profile.identifier %>/quem-somos">Quem Somos</a></li>
<li class="navigation-button"><a href="/<%= profile.identifier %>/produtos-e-servicos">Loja Virtual</a></li>

