/* @import url(../cirandas/style.css);
@import url(../cirandas/stylesheets/small.css); */
@import url(../base/style.css);
@import url(http://fonts.googleapis.com/css?family=Oxygen:400,300,700);

/**** General ***************************************************************/

body {
  background: #15A543;
}

h1,
#navigation,
.block-title span,
#content .link-list-block li a {
  font-family: 'Oxygen', sans-serif;
}

#article-body {
  font-family: Verdana,Arial,sans-serif
}

#wrap-1 {
  background: none;
  margin: auto;
  margin-top: 40px;
}

#wrap-2 {
  background: #FFF;
  border: medium none;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  box-shadow: 0 0 20px #AAA;
}

#site-title {
  display: none;
}

#site-title,
#site-title a {
  height: 93px;
  width: 250px;
}

#site-title a {
  left: 0px;
  top: 0px;
}

#site-title span {
 display: none;
}

#wrap-1,
#footer-content,
#theme-footer,
#footer-first {
  width: 1024px;
}

#footer-content,
#theme-footer {
  border-left: none;
  border-right: none;
}

#theme-footer {
  margin-top: 20px;
}

#footer-content {
  margin-left: 0px;
}

#footer-content,
#footer-bottom {
  background-image: none;
}

#content {
  padding-top: 5px;
  margin-top: 100px;
}

#content h1.page-title {
  background-color: transparent;
  padding-left: 10px;
  margin-bottom: 0px;
  font-size: 20px;
}

#profile-header {
  max-height: 210px;
  margin-bottom: 10px;
}

#content .products-block li,
input.button {
  font-size: 14px;
}

#content .block-title {
  font-size: 16px;
}

/*********************** theme customization ************************/
/* Include here more CSS customization */

/************************** user bar ***************************/

#user {
   text-align: right;
}

#user a,
#user a strong {
  color: #006400;
  margin: 0 5px;
}

#user form,
#link-go-content {
  display: none;
}

/* Navigation */

#navigation {
  background: none;
  top: 70px;
}

#navigation ul {
  margin: -25px -14px 0 0;
  list-style: none;
}

#navigation li {
  width: auto;
  margin: 0 35px;
}

#navigation li a {
  float: left;
  font-size: 28px;
  border-left: none;
  color: #006400;
}

#navigation li a:hover {
  background: none;
  margin: auto;
  opacity: 0.7;
}

#navigation li a.link-this-page,
#navigation li a:hover,
#content .products-block li a:hover {
  color: #ADFF2F;
}

/************************** content ***************************/

#content .block-title,
#content .main-block h1, #not-found h1, #access-denied h1 {
  border-bottom:2px solid #006400;
  color: #006400;
}

.profile-image-block p {
  color: #006400;
}

.block a {
  color: #006400;
}

.block a:visited {
  opacity: 0.5;
}

.control-panel a,
.control-panel a:visited {
  color: #000;
}

.controller-profile_editor .control-panel a:hover {
  background-color: #006400;
  color: #FFF;
}

#content .link-list-block li a {
  background-color: #006400;
  color: #FFF;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 16px;
}

#content .link-list-block li a:hover {
  background-color: #FFD700;
  text-decoration: none;
  color: #000;
}

#content .link-list-block li a.link-this-page {
  background-color: #ADFF2F;
  border-right:2px solid #FFD700;
  color: #000;
}

#content .box-1 .link-list-block li a.icon-no-icon {
  padding-left: 10px;
}

#content .box-1 .link-list-block li a.link-this-page:hover {
  border-right: none;
}

.template-rightbar #content .link-list-block li a.link-this-page,
#content .box-3 .link-list-block li a.link-this-page {
  border-left: 2px solid #006400;
}

/************** blog **************/

#content .blog-post .title a:hover {
  color: #5C3566;
}

/**************************** Comments *******************************/

#content .comments h3 {
  color: #5C3566;
  border-bottom: 2px solid #006400;
}

.post_comment_box h4 {
  background-color: #006400;
  color: #FFF;
}

/************************** theme footer ***************************/

#footer-content a,
#footer-content a:hover,
#footer-content a:visited {
  color: #006400;
}

#theme-footer {
  color: #CCC;
}

#theme-footer a {
  color: #ADFF2F;
}

#theme-footer a:hover {
  color: #FFF;
}

#footer-logo {
  text-align: right;
}

#footer-logo a {
  background-image: url(images/fazcultura.jpg);
  width: 400px;
  height: 50px;
  display: block;
}

#footer-logo span {
  display: none;
}

/* Quick links */
.quick-admin-link {
  font-weight: bold;
  font-size: 12px;
  border: 1px solid #ADFF2F;
  background: #333;
  text-align: center;
  padding: 5px 10px;
  position: fixed;
  z-index: 100;
  border-left: none;
  border-radius: 0px 8px 8px 0px;
  left: 0px;
  text-decoration: none;
}

#theme-footer a.quick-admin-link {
  color: #ADFF2F;
}

#theme-footer a.quick-admin-link a:hover {
  text-decoration: underline;
}

#profile-admin {
  top: 10px;
}

#edit-blocks.quick-admin-link {
  top: 40px;
}
