$theme-name: "coral_magenta";
$content-title: #007439;
$page-title: #FFF;
$page-title-bg: #910033;
$page-title-border-bottom: #417;
$link-list-block: #FFF;
$link-list-block-bg: #c83267;
$link-this-page: #fff;
$link-this-page-bg: #53ba86;
$links: #00743C;
$links-hover: #6D1B38;
$product-price: #c83267;

$catalog-details-bg: $link-this-page-bg;
$catalog-details: $link-this-page;
$catalog-details-bg-hover: $page-title-bg;
$catalog-details-hover: $page-title;

$block-title: $content-title;
$profile-footer: $page-title;
$profile-footer-bg: $page-title-bg;
$profile-footer-border-top: $page-title-border-bottom;
$main-block-title: $content-title;
$blog-post-title: $content-title;
$body-bg-image-url: "";

