@import url(/designs/themes/cirandas/style.css);
@import url(stylesheets/style.css);
@import url(//fonts.googleapis.com/css?family=Gudea:400,700,400italic);

/**** General ***************************************************************/

body {
  background: url(images/bkg.jpg) repeat;
  padding-bottom: 0px;
}

h1,
#top-menu,
.block-title span,
#content .link-list-block li a {
  font-family: 'Gudea', sans-serif;
}

#article-body {
  font-family: Verdana,Arial,sans-serif
}

#wrap-1 {
  background: none;
  margin: auto;
  margin-top: 40px;
  width: 100%;
}

#wrap-2 {
  background: #FFF;
  border: medium none;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  box-shadow: 0 0 20px #AAA;
  padding: 0px 10px;
  width: 1024px;
  margin: auto;
}

#site-title {
  display: none;
}

#site-title,
#site-title a {
  height: 90px;
  width: 144px;
}

#site-title a {
  left: 0px;
  top: 0px;
}

#site-title span {
 display: none;
}

#footer-content,
#theme-footer,
#footer-first {
  width: 1024px;
}

#footer-content,
#theme-footer {
  border-left: none;
  border-right: none;
}

#theme-footer {
  margin-top: 20px;
}

#footer-content {
  margin-left: 0px;
}

#footer-content,
#footer-bottom {
  background-image: none;
}

#content {
  padding-top: 5px;
  margin-top: 100px;
}

.box-2 {
  margin-left: 0px;
}

#content h1.page-title {
  background-color: transparent;
  padding-left: 10px;
  margin-bottom: 0px;
  font-size: 20px;
}

#profile-header {
  max-height: 210px;
  margin-bottom: 10px;
}

#content .products-block li,
input.button {
  font-size: 14px;
}

#content .block-title {
  font-size: 16px;
}

/* Redefining Cirandas theme */

#cirandas-top-bar {
  top: 0px;
}

#wrap-1,
#theme-footer {
  box-shadow: none;
  -ms-box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}

#theme-footer #footer-content {
  margin-left: 0px;
  background: transparent;
  padding: 0px;
  margin-top: 30px;
}

#footer-content,
#footer-bottom {
  background-image: none;
}

#content {
  padding-top: 70px;
  margin-top: 80px;
}

#content h1.page-title {
  background-color: transparent;
  padding-left: 10px;
  margin-bottom: 0px;
  font-size: 20px;
  border-bottom: none;
  display: none;
}

#profile-header {
  max-height: 210px;
  margin-bottom: 10px;
}

#profile-footer {
  background-color: transparent;
  border-top: none;
}

#content .products-block li,
input.button {
  font-size: 14px;
}

#content .block-title {
  font-size: 16px;
}

/*********************** theme customization ************************/
/* Include here more CSS customization */

/************************** user bar ***************************/

#user {
   text-align: right;
}

#user a,
#user a strong {
  color: #6C0;
  margin: 0 5px;
}

#user form,
#link-go-content {
  display: none;
}

/* Top menu */

#top-menu {
  top: 25px;
  position: absolute;
  z-index: 10;
  padding: 0px;
  text-align: center;
  width: 1024px;
}

#top-menu li {
  width: auto;
  margin: 0 80px;
  display: inline-block;
}

#top-menu li a {
  float: left;
  font-size: 28px;
  border: none;
  color: #6C0;
  text-decoration: none;
  text-transform: none;
  line-height: normal;
  height: auto;
}

#top-menu li a:hover {
  background: none;
  margin: auto;
  opacity: 0.7;
}

#top-menu li a.link-this-page,
#top-menu li a:hover,
#content .products-block li a:hover {
  color: #6C3;
}

/************************** content ***************************/

#content .block-title,
#content .main-block h1, #not-found h1, #access-denied h1 {
  border-bottom:2px solid #6C0;
  color: #6C0;
}

.profile-image-block p {
  color: #6C0;
}

.block a {
  color: #6C0;
}

.block a:visited {
  opacity: 0.5;
}

.control-panel a,
.control-panel a:visited {
  color: #000;
}

.controller-profile_editor .control-panel a:hover {
  background-color: #6C0;
  color: #FFF;
}

#content .link-list-block li a {
  background-color: #6F3;
  color: #FFF;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 16px;
}

#content .link-list-block li a:hover {
  background-color: #6C0;
  text-decoration: none;
}

#content .link-list-block li a.link-this-page {
  background-color: #6C3;
  border-right:2px solid #6F3;
  color: #FFF;
}

#content .box-1 .link-list-block li a.icon-no-icon {
  padding-left: 10px;
}

#content .box-1 .link-list-block li a.link-this-page:hover {
  border-right: none;
}

.template-rightbar #content .link-list-block li a.link-this-page,
#content .box-3 .link-list-block li a.link-this-page {
  border-left: 2px solid #6C0;
}

/************** blog **************/

#content .blog-post .title a:hover {
  color: #5C3566;
}

/**************************** Comments *******************************/

#content .comments h3 {
  color: #5C3566;
  border-bottom: 2px solid #6C0;
}

.post_comment_box h4 {
  background-color: #6C0;
  color: #FFF;
}

/************************** theme footer ***************************/

#footer-content a,
#footer-content a:hover,
#footer-content a:visited {
  color: #6C0;
}

#theme-footer {
  color: #CCC;
}

#theme-footer a {
  color: #6C3;
}

#theme-footer a:hover {
  color: #FFF;
}

#footer-logo {
  text-align: right;
}

#footer-logo a {
  background-image: url(images/fazcultura.jpg);
  width: 400px;
  height: 50px;
  display: none;
}

#footer-logo span {
  display: none;
}

/* Quick links */

#admin-links {
  position: fixed;
  top: 50px;
  left: 0px;
  z-index: 100;
}

.quick-admin-link {
  display: block;
  font-weight: bold;
  font-size: 12px;
  border: 1px solid #6C3;
  background: #333;
  text-align: center;
  padding: 5px 10px;
  margin: 10px 0px;
  border-left: none;
  border-radius: 0px 8px 8px 0px;
  left: 0px;
  text-decoration: none;
}

#theme-footer a.quick-admin-link {
  color: #6C3;
}

#theme-footer a.quick-admin-link a:hover {
  text-decoration: underline;
}

#profile-admin {
  top: 10px;
}

#edit-blocks.quick-admin-link {
  top: 40px;
}
