.article-comment {
  border: 1px solid #AB8;
}

#addThis {
  text-align: right;
}

.comment-from-owner {
  border: 1px solid #684;
  background: #DCE2C9;
}

.comment-from-owner .comment-info {
  color: #9A7;
}

.post_comment_box h4 {
  background: #CDA;
}

.post_comment_box.closed h4 {
  border: 1px solid #684;
}

.post_comment_box.opened {
  border: 1px solid #684;
  background: #CDA;
}

.blog-feed-link {
  float: right;
  margin-left: 5px;
  position: absolute;
  right: 0px;
}
