@import url(/designs/themes/ecosol/stylesheets/common.css);
@import url(/designs/themes/ecosol/stylesheets/menu.css);
@import url(/designs/themes/ecosol/stylesheets/login-box.css);

@import url(controller_catalog.css);

#wrap {
  background: #EBEFDE url(../images/boneco-bg-top.png) 28px 22px repeat-x;
  border: 3px solid #2A5896;
}
#wrap2 {
  background: url(../images/degrade-esq.png) 0px 22px no-repeat;
}

#content h1, #content h2, #content h3,
#content h4, #content h5, #content h6 {
  color: #799442; #88A64A;
}

#content hr {
  border-color: #8A6;
}

#content .main-block ul li {
  list-style: url(../images/list-dot.gif);
}

#content a:link {
  color: #799442;
}
#content a:visited {
  color: #9A6;
}

#content a:hover {
  color: #6B0;
}

.box-1 {
  padding-right: 30px;
  padding-left: 20px;
}

.box-2 {
  padding-left: 10px;
}

.enterprise-info {
  background: #CDA;
  padding : 5px 0px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
}

#profile-footer {
  clear: both;
  position: relative;
  background: #CDA;
  padding : 10px 0px;
}

/* * * Show Product * * * * * * * * * * * * */

#show_product,
#category-product-edition,
#product-category,
.product-category-hierarchy {
  width: 630px;
}

#content .main-block .product-qualifiers-item {
  list-style: none;
}

#product-info .list-price .field-value {
  color: grey;
  font-weight: normal;
  text-decoration: line-through;
}
