body.controller-catalog #content #product_list li.product {
  border: none;
  background: #CDA;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  padding: 5px 0px 0px 10px;
  position: relative;
  float: left;
  height: 110px;
  width: 45%;
  margin-left: 1%;
  margin-right: 1%;
  font-size: 11px;
  text-align: left;
  list-style: none;
}
.controller-catalog #content #product_list li.product:hover {
  background: #BD7;
}

.controller-catalog #content #product_list h3 {
  font-size: 14px;
}
.controller-catalog .msie6 #content #product_list h3 {
  padding-top: 15px;
}
.controller-catalog #content #product_list .product_category {
  clear: left;
  line-height: 11px;
  position: relative;
}

.controller-catalog #content #product_list .product_category a {
  text-decoration: none;
}

.controller-catalog #product_list .product .description {
  display: none;
}
.controller-catalog #product_list .product:hover .description {
  display: block;
  position: absolute;
  background: #BD7;
  border: 2px solid #9B6;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  top: 26px;
  left: 80px;
  text-align: left;
  margin-right: -20px;
  z-index: 10;
  padding: 5px 0px 5px 10px;
}
