<%= render file: "#{Rails.root}/public/designs/themes/#{current_theme}/content_top.html.erb" rescue nil %>

<div id="content">

  <%= render :file => "#{Rails.root}/public/designs/themes/#{current_theme}/layouts/_profile_title.html.erb" rescue nil %>

  <div id="content-inner">
    <%= insert_boxes yield %>
  </div>
</div>
