<div class="row">
  <div class="block-outer">
    <div id="profile-title" class=" block col-lg-12 col-md-12 col-sm-12">
      <h1 class="page-title">
        <%= profile.short_name %>
        <% if profile.enterprise? %>
            <span class="solidarity-economy">Empreendimento de Economia Solidária</span>
        <% end %>
      </h1>
    </div>
  </div>
</div>
