<a href="/"><span>Fundação Terra Mirim</span></a>

<ul id="top-menu">
  <li><a href="/quem-somos">Quem Somos</a></li>
  <li><a href="/historia">História</a></li>
  <li><a href="/xamanismo">Xamanismo</a></li>
</ul>

<div id="social-networks">
  <ul>
    <li><a id="fb" href="https://www.facebook.com/FundacaoTerraMirim"></a></li>
    <li><a id="yt" href="http://www.youtube.com/TerraMirim"></a></li>
    <li><a id="insta" href="http://instagram.com/terramirim"></a></li>
    <li><a id="sc" href="https://soundcloud.com/terra-mirim"></a></li>
  </ul>
</div>
