/* Header */
#wrap-1 {
  position: inherit;
}

#content {
  margin-top: 9px;
}

#theme-header {
  position: fixed;
  right: 0;
  left: 0;
  height: 50px;
  width: auto;
}
#cirandas-top-bar {
  background: #EDF8FA;
  height: 40px;
  box-shadow: 0 6px 10px -4px #888;
  -moz-box-shadow: 0 6px 10px -4px #888;
  -webkit-box-shadow: 0 6px 10px -4px #888;
}

#tb-logo {
  background: transparent url(../images/logo-small.png) center left no-repeat;
  float: left;
  width: 210px;
  height: 50px;
  position: absolute;
  top: -5px;
  left: 17px;
}

#user {
  border: none;
  right: 0;
  top: 0;
  margin: 0;
  padding: 20px 0 4px 0;
  position: absolute;
}
#user .logged-in a,
#user .logged-in > span {
  padding: 2px 0 2px 5px;
}
#user form {
  display: none;
}

#tb-middle {
  width: 520px;
  margin: 0 auto;
}
#tb-search {
  position: absolute;
  top: 4px;
  width: 150px;
}
#tb-search form input {
  width: 150px;
}

#navigation {
  width: 100%;
  position: inherit;
}
#navigation a {
  line-height: 16px;
  height: 18px;
  font-size: 9px;
  right: 0;
  left: 0;
}
#navigation ul {
  border: none;
  padding-top: 8px;
}
#navigation > li {
  padding-right: 8px;
  height: 30px;
}
#navigation .header-icon {
  width: 18px;
  height: 19px;
}
#navigation .header-icon a {
  border: none;
  width: 18px;
  height: 19px;
}
#navigation li .menu-submenu-trigger {
  height: 4px;
}

#header-help {
  width: 45px;
  padding: 0;
}
.header-icon a {
  width: 20px;
  height: 20px;
  right: 0;
  top: 0;
  padding: 0;
  margin: 0;
}

#header-help a,
#header-help a:hover {
  background: transparent url(../images/help-small.png) top center no-repeat;
}
#header-search a,
#header-search a:hover {
  background: transparent url(../images/search-small.png) top center no-repeat;
}

#site-title {
  display: none;
}

