<% logo = Hpricot(profile.custom_header).search('img').first.attributes['src'] rescue nil %>
<div id="profile-theme-header">
	<div id="profile-theme-header-bg">
		<% if logo.present? %>
			<img src="<%= logo %>">
		<% end %>
	</div>
	<h1 class='page-title'>
  	<% if profile.image.present? %>
  		<div id='page-logo'>
			<%= link_to profile_image(profile, nil), profile.url %>
		</div>
	<% end %>
	<div class="profile-name"><%= link_to profile.short_name, profile.url %></div>
	<span class="solidarity-economy">Empreendimento de Economia Solidária</span>
  </h1>
</div>
