$style-headers: false;
$change-wireframe: false;

@import '../../cirandas-responsive/style';

//@import '../../cirandas/stylesheets/cirandas';
//@import '../../cirandas/stylesheets/enterprise';
//@import '../../cirandas/stylesheets/small';

/*
 Reduza então o botão de RSS e deixe do tamanho dos outros.
 Preferimos sem a sombrinha no paginador dos banners.
*/

@import url(https://fonts.googleapis.com/css?family=Capriola);

/**** General ***************************************************************/

body {
  color: #888;
  background: #FFF url(images/fundo.png) 50% 50%;
}

#content h1.page-title {
  display: none;
}

@media screen and (min-width: 768px) {
  #wrap-1 {
    background-color: #FFF9E9 !important;
  }
}

#wrap-1 {
  padding-top: 30px;
  margin-top: -50px;
}

.block, .no-boxes {
  background-color: #FFF9E9;
}

#content > .row {
  display: none;
}

#wrap-2 {
  width: 960px;
  margin: auto;
  padding: 10px;
  border: none;
  background: #FFF9E9;
  border: 2px solid #D0F0F8;
  border-top: none;
  border-bottom: none;

  #wrap-2 {
    #site-title-redemoinho {
      display: none;
    }
    #content {
      #site-title-redemoinho {
        display: block;
      }
    }
  }
}

#redemoinho-ctrl {
  margin-left: 25px;
}

#content {

  .box-1 .block {
    padding: 0px 20px;
  }
}

.profile-homepage .box-1 .blocks {
  margin-top: -50px;
}

.box-2 {
  left: 10px;
  margin-top: -20px;
}

#main-content-wrapper-1, #main-content-wrapper-2,
#main-content-wrapper-3, #main-content-wrapper-4,
#main-content-wrapper-5, #main-content-wrapper-6,
#main-content-wrapper-7, #main-content-wrapper-8,
.blog-post {
  background: none;
  padding: 0px;
  margin: 0px;
}

.ui-tabs.ui-widget-content, .ui-tabs-selected.ui-state-active {
  background: #FFF9E9;
}

/**** Navegação *************************************************************/

#rede-moinho-header {
  //height: 150px;

  .margin-wrap {
  }

  #site-title-redemoinho {
    width: 203px;
    height: 199px;
    background: url(images/logo-top.png);
    cursor: pointer;
    position: relative;
    z-index: 2;
  }

  #header-cobertura {
    height: 150px;
    background: url(images/renda-top.png) 50% 100% repeat-x;
    border-bottom: 1px solid #F1BD49;
    opacity: 0.8;
    margin-left:-15px;
    margin-right:-15px;
  }

  #header-bitmap {
    background-image: url(images/verduras.jpg);
    background-size: cover;
  }

  #top-banner {
    width: 100%;
    height: 150px;
    margin: auto;
    background: url(images/renda-top.png) 50% 100% repeat-x #EEE0D0;
    position: absolute;
  }
  .navbar-menu-redemoinhoa {
    background: url(images/fita.png) 100% 50%;
  }

  @media screen and (min-width:768px) and (max-width: 991px) {
    #header-navigation {
      left: 30px;
    }
  }

  #header-navigation-end {
    display: none;
  }
/*
  #header-navigation ul {
    padding: 3px 30px;
    margin: 0px;
    float: right;
  }*/

  #header-navigation li {
    width: auto;
    padding: 0px 10px;
    list-style: none;
    display: block;
    height: auto;
    float: left;
    text-align: center;
    position: relative;
  }

  #header-navigation a {
    border: none;
    line-height: 29px;
    padding: 0px 10px;
    font-family: 'Tahoma', 'Trebuchet MS', 'Capriola', sans-serif;
    text-transform: uppercase;
    color: #663;
    font-size: 14px;
    display: block;
    text-decoration: none;
  }
  #header-navigation a:hover {
    color: #F60;
    background: transparent;
    /*color: #663;
    text-shadow: 0 0 3px #AF0;*/
  }
}

/*#header-navigation a#bt-associar {
  color: #F60;
}
#header-navigation a#bt-associar:hover {
  color: #F60;
  text-shadow: 0 0 3px #FB0;
}*/

/**** Rodapé ****************************************************************/

#theme-footer {
  background: #F0FCCA url(images/renda-footer.png) 50% 1px repeat-x;
  width: auto;
  margin: 0px;
  padding: 35px 0px 10px;
  border-radius: 0px;
  border: none;
  box-shadow: none;

  a {
    text-decoration: none;
  }

  #footer-content {
    background: url(images/rede-moinho.png) 0% 50% no-repeat;
    padding: 0 20px;
    height: 95px;
    margin: auto;
    font-family: 'Tahoma', 'Trebuchet MS', 'Capriola', sans-serif;
    color: #366;
    position: relative;

    a {
      color: #366;
    }

    p {
      margin: 0px;
    }
  }

  #footer-links {
    font-size: 14px;
    margin-left: 105px;
  }

  #footer-links a {
    font-style: italic;
    margin: 0px 7px 0px 5px;
  }

  #bt-login {
    margin-bottom: 41px;
    margin-left: 110px;
  }

  #copyright {
    color: #699;
    margin-left: 110px;
    font-style: italic;
    text-align: left;
    margin-top: 5px;
    @media screen and (min-width: 768px) {
      margin-right: 200px;
    }
  }

  #producao {
    position: absolute;
    bottom: 0px;
    right: 0px;
  }

  #producao a {
    display: inline-block;
    border-radius: 2px;
  }
  #producao a:hover {
    background-color: rgba(255,255,255,0.8);
    box-shadow: 0 0 5px #FFF;
  }

  #producao span {
    display: none;
  }

  #logo-dodesigns {
    width: 31px;
    height: 28px;
    background: url(images/dodesigns.png) 50% 50% no-repeat;
    margin-right: 5px;
  }

  #logo-colivre {
    width: 30px;
    height: 30px;
    background: url(images/colivre.png);
  }

}

/**** Blocos ****************************************************************/

#content .link-list-block {
  margin-bottom: 0px;
  overflow: hidden;
  padding-bottom: 20px;
}

.link-list-block .block-inner-1 {
  background: #FFD685;
  position: relative;
  top: -30px;
}

.link-list-block ul {
  position: relative;
  top: 40px;
  padding: 0px 20px 80px 20px;
  background: url(images/renda-menu.png) 50% 100% repeat-x;
}

#content .link-list-block li {
  border-bottom: 1px solid #FFF; /* #FED */
  background: transparent;
  margin: 0px;
}
#content .link-list-block li:last-child {
  border: none;
}

#content .link-list-block li a {
  padding: 0px 8px;
  margin: 0px;
  border: 2px solid #FFD685;
  border-radius: 5px;
  background: transparent;
  color: #C63;
  text-shadow: 0 0 1px #B52, 1px 1px 1px #FED;
  box-shadow: none;
}
#content .link-list-block li a:hover {
  color: #820;
  text-shadow: 0 0 1px #700;
  background: transparent;
}

#content .link-list-block li a.link-this-page,
#content .link-list-block li a.link-this-page:hover {
  width: auto;
  border: none;
  background: transparent;
  color: #600;
}

.controller-profile_design #content .link-list-block .button-bar {
  margin-top: 40px;
}

.profile-image-block .profile-big-image {
  display: none;
}

.profile-image-block .profile-info-options {
  padding-top: 0px;
}

#content .box-1 .block.highlights-block {
  height: 250px;
  margin: 0px;
}

.highlights-block .highlights-container {
  border: none;
  background: transparent;
  height: 223px !important;
}

.highlights-block .highlights-label {
  display: none;
}

.highlights-block .highlights-image-link {
  display: block;
}

.highlights-block-pager {
  position: relative;
  padding-bottom: 10px;
  z-index: 10;
}

.highlights-block-pager a {
  font-size: 14px;
  font-family: 'Tahoma', 'Trebuchet MS', 'Capriola', sans-serif;
  color: #C89;
  padding: 0px 4px 2px 5px;
  border-radius: 10px;
}
.highlights-block-pager a:hover {
  text-decoration: none;
  color: #800;
}

.highlights-block-pager a.activeSlide {
  font-size: 18px;
  background: #FFF;
  color: #A04;
}

/**** Blog ******************************************************************/

#article {
  font-size: 15px;
}

.como-ser-ativo {
  padding-bottom: 160px;
  margin-bottom: 50px;
  background: url(images/paisagem.ind.png) 0% 100% no-repeat;
}

.blog-description h2 {
  color: #C63;
  font-weight: normal;
}

.blog-description strong {
  text-transform: uppercase;
  font-weight: normal;
  font-style: italic;
  color: #920;
  margin-bottom: 10px;
}

.blog-feed-link img {
  margin-left: 5px;
  height: 16px;
}

#article p {
  line-height: 16px;
}

#content .main-block h1, #not-found h1, #access-denied h1 {
  font-variant: normal;
}

.profile-homepage #article-header h1 {
  display: none;
}

#content .main-block h1, #content .blog-post .title {
  border: none;
  background: url(images/dot.png) 0% 100% repeat-x;
  padding-bottom: 5px;
  font-family: 'Liberation Sans Narrow', 'Arial Narrow', 'Arial', sans-serif;
  font-weight: normal;
  font-size: 20px;
  color: #C63;
}

#content .blog-post .title a, #display-product-name h2 {
  color: #C63;
  font-weight: normal;
  border: none;
}

#content .main-block .created-at,
#content .main-block .created-at a {
  color: #600;
  font-size: 10px;
}
#content .main-block .created-at a:hover {
  color: #400;
}

.read-more {
  display: inline;
}

#article .read-more a {
  text-decoration: none;
}
#article .read-more a:hover {
  text-decoration: underline;
}

.read-more a:last-child {
  text-transform: uppercase;
  color: #920;
  font-size: 12px;
}
.read-more a:last-child:after {
  content: "\00bb";
}

#content #article .pagination .prev_page,
#content #article .pagination .next_page {
  position: static;
}
#article .pagination a {
  text-decoration: none;
}

/**** Vitrine de Produtos ***************************************************/

.action-catalog-index .no-boxes {
  margin-top: -15px;
}

.action-catalog-index .no-boxes h1 {
  display: none;
}

.action-catalog-index #banner {
  height: 90px;
  background: url(images/banner-loja.png?2) 40% 0% no-repeat;
}

.l-sidebar-left-bar {
  position: relative;
  background: #FF8334;
  color: #FFF;
  left: 10px;
}

.l-sidebar-left-bar ul {
  background-color: transparent;
  font-size: 14px;
  margin: 0px;
  padding: 0px 0px 0px 15px;
  border-radius: 0px;
  list-style: disc;
}

.l-sidebar-left-bar > ul {
  position: relative;
  top: 40px;
  margin-top: -30px;
  padding: 0px 20px 80px 20px;
  background: url(images/renda-categorias.png) 50% 100% no-repeat;
  list-style: none;
}

.l-sidebar-left-bar li {
  margin: 0px;
  padding: 3px 0px;
}

.l-sidebar-left-bar > ul > li {
  border-top: 1px solid #FFF;
  padding-top: 6px;
  margin-top: 3px;
}

.l-sidebar-left-bar li.home {
  border-top: none;
}

.l-sidebar-left-bar a {
  color: #FFF;
}

#product-list li.product {
  background: #FFFCF8;
  padding: 5px;
  margin: 10px 0;
  margin-right: 20px;
  font-family: 'Liberation Sans Narrow', 'Arial Narrow', 'Arial', sans-serif;
}

#product-list .product-image-link {
  border: none;
  height: auto;
}

#product-list .catalog-item-extras {
  position: static;
  text-align: right;
  margin-top: -5px;
}

#product-list .cart-add-item {
  font-weight: bold;
  color: black;
  border: 1px solid #F06620;
  border-right: none;
  border-radius: 20px 0px 0px 20px;
  font-size: 12px;
  background: #FFF8F0;
  margin-right: -5px;
  text-transform: uppercase;
}
.cart-add-item:hover {
  background: #FFA;
}

#product-list .cart-add-item .ui-icon {
  display: none;
}

#product-list .cart-add-item.loading .ui-icon {
  display: inline-block;
  width: 16px;
  margin: -8px 0 0 -6px;
}

#product-list .cart-add-item .ui-button-text {
  padding: 0px 5px;
  color: #C63;
}

#product-list .cart-add-item.loading .ui-button-text {
  padding-left: 15px;
}

#product-list .product-link a {
  color: #C63;
  font-weight: normal;
  font-size: 19px;
  text-decoration: none;
}

#product-list .product-price-line {
  font-size: 16px;
}
#product-list .product-unit {
  color: #499;
  font-size: 14px;
  font-weight: normal;
}

#product-list .product-discount,
#product-list .has-discount .product-price,
#product-list .has-discount .product-unit {
  color: #C40;
}
#product-list .product-price {
  color: #499;
}

#product-list .product-description-button,
#product-list .inputs-button {
  font-size: 13px;
}

#product-list li.product-unavailable {
  color: #996;
}

#product-list li.product.not-available .expand-box {
  background: transparent;
}

#product-list .expand-box,
#product-list .expand-box:hover {
  background: transparent;
}
#product-list .expand-box > span {
  color: #864;
  font-size: 12px;
  padding: 0px;
  background: transparent;
}
#product-list .expand-box > span:before {
  content: "+";
  font-family: monospace;
  padding-right: 3px;
  font-size: 14px;
  line-height: 12px;
}
#product-list .expand-box.open > span:before {
  content: "-";
}
#product-list .not-available .expand-box > span {
  color: #996;
}

#product-list .not-available .product-image-link {
  opacity: 0.5;
}

#product-list li.product .product-qualifiers {
  font-size: 10px;
  line-height: 10px;
  color: #777;
}

#product-list .has-discount .product-link {
  margin-bottom: 0px;
  background: #FFE8C0;
  padding: 2px 0px 2px 8px;
  border-left: 1px solid #B87;
}
.has-discount .product-price-line {
  background: #FFD080;
  padding: 2px 0px 2px 10px;
  color: #C40;
  border-left: 1px solid #B87;
  border-bottom: 1px solid #B87;
}
.has-discount .product-price-line:before {
  content: "PROMOÇÃO!!";
  font-size: 13px;
  font-weight: normal;
  display: block;
}
.has-discount .product-price-line .product-discount {
  color: #840;
}

.controller-catalog .pagination {
  padding: 20px 0px 0px 0px;
}

.pagination .prev_page, .pagination .next_page {
  font-size: 18px;
  color: #599;
}

.pagination a, .pagination span {
  font-size: 20px;
  font-family: 'Tahoma', 'Trebuchet MS', 'Capriola', sans-serif;
  color: #9CA;
  padding: 0px 4px 2px 5px;
}
.pagination a:hover {
  text-decoration: none;
  color: #6B9;
}

.pagination .current {
  font-weight: normal;
  font-size: 24px;
  color: #366;
}

/**** Produto ***************************************************************/

#display-product-name h2 {
  font-size: 22px;
}

.action-manage_products-show #content .main-block {
  margin-top: -50px;
}

#breadcrumb {
  margin-left: 15px;
}

#breadcrumb, #breadcrumb a, #breadcrumb strong,
.action-manage_products-show #product-category {
  margin-top: 0px;
  color: #633;
  font-size: 14px;
  text-decoration: none;
}
#breadcrumb a:hover {
  text-decoration: underline;
}

#display-product-name {
  float: none;
  background: #FFFCF8;
  padding: 2px 0px 0px 15px;
}

#product-details {
  background: #FFFCF8;
}

.action-manage_products-show #product-image {
  border: none;
}

.action-manage_products-show .product-price .field-name {
  display: none;
  color: #A98;
  font-weight: normal;
}

.action-manage_products-show .product-price .list-price .field-name,
.action-manage_products-show .product-price .on-sale-price .field-name {
  display: inline;
}

.action-manage_products-show #display-product-info .list-price .field-value {
  font-weight: normal;
  text-decoration: line-through;
}

.action-manage_products-show .product-price .field-value {
  color: #699;
  font-size: 18px;
}

#product-details .cart-add-item {
  padding: 0px 7px;
  color: #C84;
  text-transform: uppercase;
  font-weight: bold;
  border: 2px solid #D62;
  border-radius: 10px;
  background: transparent;
}
#product-details .cart-add-item .ui-button-text {
  font-size: 14px;
  line-height: 14px;
  padding: 0px;
}
#product-details .cart-add-item .ui-icon {
  display: none;
}

#product-qualifiers {
  color: #854;
  font-size: 14px;
}

.action-manage_products-show .ui-tabs {
  background: #FFFCF8;
  padding: 5px;
  border: 3px solid #F0E8C0;
}
.action-manage_products-show .ui-tabs-selected.ui-state-active {
  background: #FFFCF8;
}

.action-manage_products-show #content a.button.icon-back {
  background: transparent;
  border: none;
  color: #699;
  font-size: 15px;
  margin: 20px 0px;
}

.action-manage_products-show #content a.button.icon-back:before {
  content: "<";
  font-size: 60px;
  vertical-align: middle;
}

.action-manage_products-show #content a.button.icon-back span {
  vertical-align: middle;
}


/**** Cesto de Compras ******************************************************/

.cart {
  background: #906858;
  border: 1px solid #864;
}

.cart-inner {
  background: #A08070;
}

.cart h3 {
  color: #7DD;
  font-weight: normal;
  text-transform: uppercase;
  padding-bottom: 2px;
}

.cart-clean, .cart-toggle {
  color: #EEE;
}
.cart-clean:hover {
  color: #FFF;
}
.cart-toggle {
  padding: 4px;
}

.cart-items {
  margin: 0px 3px;
  padding: 3px 3px 3px 4px;
  background: #FFF;
  overflow-y: auto;
  overflow-x: hidden;
}

.cart-items li {
  border: none;
  margin: 0px;
  padding-top: 8px;
  background: url(images/dot.png) repeat-x;
}
.cart-items li:first-child {
  padding-top: 2px;
  background: none;
}

.cart-buy {
  margin: 0px 3px 2px 3px;
  border: none;
}

.cart-total {
  color: #0EE;
  bottom: 4px;
}

.cart .button {
  top: 8px;
}


.l-sidebar-left-bar .catalog-categories-link {
  background-color: transparent;
  font-size: 13px;
  height: 20px;
  border: 1px solid #c23b00;
  border-radius: 15px;
  padding: 4px 0;
}


.l-sidebar-left-bar .catalog-categories-link:hover {
  background-color: #f06620;
}


.l-sidebar-left-bar .catalog-categories-link a{
  line-height: 20px;
  color: white;
}

select#order_payment_data_method {
  option[value=credit_card], option[value=bank_transfer], option[value=boleto] {
    display: none;
  }
}

.purechat {
  display: none;
}


.navbar-redemoinho {
  color: #663;
  background-color: none;
  border: none;
  font-family: 'Tahoma', 'Trebuchet MS', 'Capriola', sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  z-index: 1;

  a {
    color: #663;

    &:hover {
      color: #F60 !important;
    }
  }

  .navbar-toggle {
    border-color: #F1BD49;
    .icon-bar {
      background-color: #663;
    }

    &:hover {
      background-color: #ddd;
    }
  }

  .nav > li > a {
    padding-right: 12px;

    &:hover {
      background-color: transparent;
    }
  }

}

@media screen and (min-width:768px) {
  .navbar-redemoinho {
    margin-top: 55px;
    background: url(images/fita.png) right center no-repeat;
    background-size: cover;
  }
}

@media screen and (max-width:767px) {
  .navbar-redemoinho {
    background-color: #EEE0D0 !important;
    border: 1px solid #F1BD49;
    margin-bottom: 20px;

    .navbar-collapse {
      border-top: 1px solid #F1BD49;
    }
  }
}

@media screen and (min-width:1200px) {
  .navbar-container {
    margin-left: -210px;
  }
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
  .navbar-container {
    margin-left: -44px;
  }
}

@media screen and (min-width: 992px) {
  .navbar-redemoinho {
    .nav > li > a {
      padding-right: 25px;
    }

    .nav > li:last-child > a {
      padding-right: 70px;
    }
  }
}
