$theme-name: "coral";
$content-title: #10999C;
$page-title: #FFF;
$page-title-bg: #5A339E;
$page-title-border-bottom: #417;
$link-list-block: #FFF;
$link-list-block-bg: #10999C;
$link-this-page: #222;
$link-this-page-bg: #CECECE;
$links: #5A339E;
$links-hover: #021848;
$product-price: #0194C7;

$catalog-details-bg: $link-list-block-bg;
$catalog-details: $link-list-block;
$catalog-details-bg-hover: $page-title-bg;
$catalog-details-hover: $page-title;

$block-title: $content-title;
$profile-footer: #000;
$profile-footer-bg: #9A73DE;
$profile-footer-border-top: #339;
$main-block-title: $content-title;
$blog-post-title: $content-title;
$body-bg-image-url: "";

$top-menu-bg: #ddd;
$top-menu-color: black;
$top-menu-hover-color: #06276f;
$top-menu-hover-color-bg: #ddd;
$coral-name-font: 'Imprima';


@import 'variables';
@import url(https://fonts.googleapis.com/css?family=Imprima:regular,bold&subset=Latin);
@import 'stylesheets/coral';

