/*
Error: Undefined variable: "$general-font".
        on line 5 of /home/braulio/noosfero/cirandas/public/designs/themes/cirandas-themes/ees/stylesheets/_ees.scss

1: @import '../../cirandas-responsive/style';
2: 
3: body {
4:   line-height: 1;
5:   font-family: $general-font, Arial, Helvetica, sans-serif;
6:   color: $text-color;
7:   font-size: 14px;
8:   line-height: 18px;
9:   @if $body-background == "" {
10:     background-color: $body-background;

Backtrace:
/home/braulio/noosfero/cirandas/public/designs/themes/cirandas-themes/ees/stylesheets/_ees.scss:5
/home/braulio/.rvm/gems/ruby-2.1.5@noosfero/gems/sass-3.4.8/lib/sass/script/tree/variable.rb:49:in `_perform'
/home/braulio/.rvm/gems/ruby-2.1.5@noosfero/gems/sass-3.4.8/lib/sass/script/tree/node.rb:50:in `perform'
/home/braulio/.rvm/gems/ruby-2.1.5@noosfero/gems/sass-3.4.8/lib/sass/script/tree/list_literal.rb:62:in `block in _perform'
/home/braulio/.rvm/gems/ruby-2.1.5@noosfero/gems/sass-3.4.8/lib/sass/script/tree/list_literal.rb:62:in `map'
/home/braulio/.rvm/gems/ruby-2.1.5@noosfero/gems/sass-3.4.8/lib/sass/script/tree/list_literal.rb:62:in `_perform'
/home/braulio/.rvm/gems/ruby-2.1.5@noosfero/gems/sass-3.4.8/lib/sass/script/tree/node.rb:50:in `perform'
/home/braulio/.rvm/gems/ruby-2.1.5@noosfero/gems/sass-3.4.8/lib/sass/tree/visitors/perform.rb:384:in `visit_prop'
/home/braulio/.rvm/gems/ruby-2.1.5@noosfero/gems/sass-3.4.8/lib/sass/tree/visitors/base.rb:36:in `visit'
/home/braulio/.rvm/gems/ruby-2.1.5@noosfero/gems/sass-3.4.8/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/home/braulio/.rvm/gems/ruby-2.1.5@noosfero/gems/sass-3.4.8/lib/sass/stack.rb:79:in `block in with_base'
/home/braulio/.rvm/gems/ruby-2.1.5@noosfero/gems/sass-3.4.8/lib/sass/stack.rb:115:in `with_frame'
/home/braulio/.rvm/gems/ruby-2.1.5@noosfero/gems/sass-3.4.8/lib/sass/stack.rb:79:in `with_base'
/home/braulio/.rvm/gems/ruby-2.1.5@noosfero/gems/sass-3.4.8/lib/sass/tree/visitors/perform.rb:158:in `visit'
/home/braulio/.rvm/gems/ruby-2.1.5@noosfero/gems/sass-3.4.8/lib/sass/tree/visitors/perform.rb:420:in `block (2 levels) in visit_rule'
/home/braulio/.rvm/gems/ruby-2.1.5@noosfero/gems/sass-3.4.8/lib/sass/tree/visitors/perform.rb:420:in `map'
/home/braulio/.rvm/gems/ruby-2.1.5@noosfero/gems/sass-3.4.8/lib/sass/tree/visitors/perform.rb:420:in `block in visit_rule'
/home/braulio/.rvm/gems/ruby-2.1.5@noosfero/gems/sass-3.4.8/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/home/braulio/.rvm/gems/ruby-2.1.5@noosfero/gems/sass-3.4.8/lib/sass/tree/visitors/perform.rb:418:in `visit_rule'
/home/braulio/.rvm/gems/ruby-2.1.5@noosfero/gems/sass-3.4.8/lib/sass/tree/visitors/base.rb:36:in `visit'
/home/braulio/.rvm/gems/ruby-2.1.5@noosfero/gems/sass-3.4.8/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/home/braulio/.rvm/gems/ruby-2.1.5@noosfero/gems/sass-3.4.8/lib/sass/stack.rb:79:in `block in with_base'
/home/braulio/.rvm/gems/ruby-2.1.5@noosfero/gems/sass-3.4.8/lib/sass/stack.rb:115:in `with_frame'
/home/braulio/.rvm/gems/ruby-2.1.5@noosfero/gems/sass-3.4.8/lib/sass/stack.rb:79:in `with_base'
/home/braulio/.rvm/gems/ruby-2.1.5@noosfero/gems/sass-3.4.8/lib/sass/tree/visitors/perform.rb:158:in `visit'
/home/braulio/.rvm/gems/ruby-2.1.5@noosfero/gems/sass-3.4.8/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/home/braulio/.rvm/gems/ruby-2.1.5@noosfero/gems/sass-3.4.8/lib/sass/tree/visitors/base.rb:52:in `map'
/home/braulio/.rvm/gems/ruby-2.1.5@noosfero/gems/sass-3.4.8/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/home/braulio/.rvm/gems/ruby-2.1.5@noosfero/gems/sass-3.4.8/lib/sass/tree/visitors/perform.rb:167:in `block in visit_children'
/home/braulio/.rvm/gems/ruby-2.1.5@noosfero/gems/sass-3.4.8/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/home/braulio/.rvm/gems/ruby-2.1.5@noosfero/gems/sass-3.4.8/lib/sass/tree/visitors/perform.rb:166:in `visit_children'
/home/braulio/.rvm/gems/ruby-2.1.5@noosfero/gems/sass-3.4.8/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/home/braulio/.rvm/gems/ruby-2.1.5@noosfero/gems/sass-3.4.8/lib/sass/tree/visitors/perform.rb:186:in `visit_root'
/home/braulio/.rvm/gems/ruby-2.1.5@noosfero/gems/sass-3.4.8/lib/sass/tree/visitors/base.rb:36:in `visit'
/home/braulio/.rvm/gems/ruby-2.1.5@noosfero/gems/sass-3.4.8/lib/sass/tree/visitors/perform.rb:157:in `visit'
/home/braulio/.rvm/gems/ruby-2.1.5@noosfero/gems/sass-3.4.8/lib/sass/tree/visitors/perform.rb:8:in `visit'
/home/braulio/.rvm/gems/ruby-2.1.5@noosfero/gems/sass-3.4.8/lib/sass/tree/root_node.rb:36:in `css_tree'
/home/braulio/.rvm/gems/ruby-2.1.5@noosfero/gems/sass-3.4.8/lib/sass/tree/root_node.rb:29:in `render_with_sourcemap'
/home/braulio/.rvm/gems/ruby-2.1.5@noosfero/gems/sass-3.4.8/lib/sass/engine.rb:368:in `_render_with_sourcemap'
/home/braulio/.rvm/gems/ruby-2.1.5@noosfero/gems/sass-3.4.8/lib/sass/engine.rb:285:in `render_with_sourcemap'
/home/braulio/.rvm/gems/ruby-2.1.5@noosfero/gems/sass-3.4.8/lib/sass/plugin/compiler.rb:489:in `update_stylesheet'
/home/braulio/.rvm/gems/ruby-2.1.5@noosfero/gems/sass-3.4.8/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/home/braulio/.rvm/gems/ruby-2.1.5@noosfero/gems/sass-3.4.8/lib/sass/plugin/compiler.rb:209:in `each'
/home/braulio/.rvm/gems/ruby-2.1.5@noosfero/gems/sass-3.4.8/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/home/braulio/.rvm/gems/ruby-2.1.5@noosfero/gems/sass-3.4.8/lib/sass/plugin.rb:82:in `update_stylesheets'
/home/braulio/.rvm/gems/ruby-2.1.5@noosfero/gems/sass-3.4.8/lib/sass/exec/sass_scss.rb:350:in `watch_or_update'
/home/braulio/.rvm/gems/ruby-2.1.5@noosfero/gems/sass-3.4.8/lib/sass/exec/sass_scss.rb:50:in `process_result'
/home/braulio/.rvm/gems/ruby-2.1.5@noosfero/gems/sass-3.4.8/lib/sass/exec/base.rb:52:in `parse'
/home/braulio/.rvm/gems/ruby-2.1.5@noosfero/gems/sass-3.4.8/lib/sass/exec/base.rb:19:in `parse!'
/home/braulio/.rvm/gems/ruby-2.1.5@noosfero/gems/sass-3.4.8/bin/sass:13:in `<top (required)>'
/home/braulio/.rvm/gems/ruby-2.1.5@noosfero/bin/sass:23:in `load'
/home/braulio/.rvm/gems/ruby-2.1.5@noosfero/bin/sass:23:in `<main>'
/home/braulio/.rvm/gems/ruby-2.1.5@noosfero/bin/ruby_executable_hooks:15:in `eval'
/home/braulio/.rvm/gems/ruby-2.1.5@noosfero/bin/ruby_executable_hooks:15:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Undefined variable: \"$general-font\".\A         on line 5 of /home/braulio/noosfero/cirandas/public/designs/themes/cirandas-themes/ees/stylesheets/_ees.scss\A \A 1: @import '../../cirandas-responsive/style';\A 2: \A 3: body {\A 4:   line-height: 1;\A 5:   font-family: $general-font, Arial, Helvetica, sans-serif;\A 6:   color: $text-color;\A 7:   font-size: 14px;\A 8:   line-height: 18px;\A 9:   @if $body-background == \"\" {\A 10:     background-color: $body-background;"; }
