@import '../../cirandas-responsive/style';
@import 'variables';

body {
  line-height: 1;
  font-family: $general-font, Arial, Helvetica, sans-serif;
  color: $text-color;
  font-size: 14px;
  line-height: 18px;
  background-color: $body-background;
  background-image: none;
}

/* estrutura */
.boxes {
  min-height: 350px;
}

/*body.template-leftbar .box-1,
body.template-leftbottom .box-1 {
margin: 0 30px 0 270px;
}
body.template-default .box-1 {
margin: 0 270px;
}
body.template-rightbar .box-1 {
margin: 0 270px 0 30px;
}
.box-2 {
margin: 0;
width: 200px;
padding-left:20px;
}
body.template-rightbar .box-2 {
padding: 0 20px 0 0;
}
.box-3 {
margin: 0;
padding-right: 20px;
width: 200px;
}
.box-1, .box-2, .box-3 {
padding-top:20px;
}
#boxes {
border-top:50px solid #333;
}
body.template-leftbar #boxes, body.template-default #boxes, body.template-leftbottom #boxes {
background: url('images/colbg.png') repeat-y scroll 0% 0% #FFF;
overflow: hidden;
}*/
#wrap-2 {
  padding: 0;
  border:none;
}
#content {
  margin:0;
}
#content-inner {
  min-height: 0;
}

/* FOOTER */
#wrap-1, #theme-footer {
  -webkit-box-shadow: 3px 3px 7px #777;
  -moz-box-shadow: 3px 3px 7px #777;
}
#theme-footer {
  border-top: 2px solid #eee;
}
#theme-footer #footer-content #footer-left, #theme-footer #footer-content #footer-middle, #theme-footer #footer-content #footer-right {
  width: 30%;
  margin-right: 2%;
  float: left;
}
#theme-footer #footer-content {
  background: $footer-bg;
  color: $footer-color;
  font-size: 90%;
}
#theme-footer #footer-content a, #theme-footer #footer-content a:visited {
  color: $footer-link-color;
}


/* Conteúdos */

#content .block h2, #content .block-title, #content .block-title, #content .main-block h1, #not-found h1, #access-denied h1 {
  color: $content-title;
  margin: 0px;
  line-height: 1em;
  font-weight:bold;
  clear:both;
  font-size: 18px;
  text-transform:none;
  background-color: $content-title-bg;
}
#content .main-block h1 {
  font-size: 26px;
}
#content h1, #content h2, #content h3, #content h4, #content h5 {
  color: $content-title;
  background-color: $content-title-bg;
  font-weight:bold;
}


#content .article-body p {
  text-align:justify;
}

#content .block h2, #content .block-title {
  color: $block-title;
  margin: 0px 0px 20px;
  line-height: 1.5em;
  font-weight:bold;
  clear:both;
  font-size: 18px;
  text-transform:none;
  background:transparent;
}


/** HEADER */

#profile-title {
  display: none;
}

#profile-theme-header {
  margin: 0 -15px;
  padding: 0;
  height: 200px;
  background-color: $header-bg;
  @if $header-bg == "" {
    background-image: url(/designs/themes/ees/images/paisagem.jpg);
  }
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
}

#profile-theme-header h1.page-title, #profile-theme-header h1.page-title a:link, #profile-theme-header h1.page-title a:visited {
  line-height: normal;
  font-family: $ees_name_font, Verdana, Arial, Helvetica, sans-serif;
  font-size: 60px;
  font-weight: normal;
  text-shadow: 0px 2px 3px #fff;
  color: $ees-name-color;
}
h1.page-title {
  position:relative;
  z-index:2;
  top:0;
  padding:0;
  margin:0;
  height:100%;
  background-color:transparent;
}

h1.page-title a:link, h1.page-title a:visited {
  text-decoration: none;
}

h1.page-title span.solidarity-economy {
  position: absolute;
  right: 4px;
  top: 4px;
  font-style: italic;
  opacity: 0.8;
  background-color: #333;
  border-radius: 5px;
  padding: 3px;
  text-shadow: #000 1px 1px;
  font-size: 10px;
  color: #fff;
}

#profile-header {
  display:none;
}
#page-logo {
  float:left;
  max-width:260px;
  background-color:#fff;
  box-shadow: #000 4px 0 10px;
  text-align:center;
  margin-right: 30px;
  padding: 20px;
}
h1.page-title img {
  height:160px;
}
h1.page-title .profile-name {
  padding-top: 20px;
  margin-left: 15px;
}
.profile-big-image, .vcard p {
  display:none;
}
.profile-info-options {
  padding-top:0;
}
@media screen and (max-width: 768px) {
  #profile-theme-header h1.page-title, #profile-theme-header h1.page-title a:link, #profile-theme-header h1.page-title a:visited {
    font-size: 36px;
  }
  #profile-theme-header {
    height: auto;
    min-height: 140px;
  }
  #profile-theme-header h1.page-title img {
    height: 100px;
  }
  #page-logo {
    padding: 3px;
  }
}


/* MENU horizontal*/


.box-container-3 {
  padding: 0;
  margin-top: -21px;
  margin-bottom: 21px;
}

.box-container-3 nav.navbar {
  border-radius: 0;
}

/*#content .box-1 .blocks .link-list-block {
position:absolute;
top:0;
left:0;
width: 1040px;
height: 50px;
margin: 0 auto;
background-color: $top-menu-bg;
}

#content .box-1 .blocks .link-list-block .block-inner-2 h3 {
display:none;
}
#content .box-1 .blocks .link-list-block .block-inner-2 ul {
margin: 0;
padding: 17px 0 0 20px;
list-style: none;
line-height: normal;
font-family: $top-menu-font, Verdana, Arial, Helvetica, sans-serif;
}

#content .box-1 .blocks .link-list-block .block-inner-2 li {
background-color:transparent;
border:none;
display: block;
float: left;
}

#content .box-1 .blocks .link-list-block .block-inner-2 a {
display: block;
float: left;
margin-right: 5px;
padding: 0px 10px;
text-decoration: none;
color: $top-menu-color;
background-color:transparent;
font-size: 16px;
font-weight: bold;
}

#content .box-1 .blocks .link-list-block .block-inner-2 a:hover {
text-decoration: underline;
color: $top-menu-hover-color;
background-color:transparent;
font-size: 16px;
font-weight: bold;
}

#content .box-1 .blocks .link-list-block li a.link-this-page,
#content .box-1 .blocks .link-list-block li a.link-this-page:hover,
#content .box-1 .blocks .link-list-block li a:hover {
color: $top-menu-hover-color;
background-color: $top-menu-hover-color-bg;
border: none;
}
 */

/* MENU VERTICAL */

/*
#content .box-2 .link-list-block li a.link-this-page,
#content .box-2 .link-list-block li a.link-this-page:hover,
#content .box-2 .link-list-block li a:hover,
#content .box-3 .link-list-block li a.link-this-page,
#content .box-3 .link-list-block li a.link-this-page:hover,
#content .box-3 .link-list-block li a:hover {
background-color: $link-this-page-bg;
color: $link-this-page;
border: none;
}
 */

/* MENU HORIZONTAL */

#content .box-container-3 nav {
  background-color: $top-menu-bg;
  border: none;

  li a {
    color: $top-menu-color;
    font-weight: bold;
    font-size: 16px;
    padding-top: 25px;
    padding-bottom: 5px;
    font-family: $ees-name-font;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 5px;
  }
  li a:hover {
    text-decoration: underline;
  }
  li a.link-this-page,
  li a.link-this-page:hover,
  li a:hover {
    color: $top-menu-hover-color;
    background-color: $top-menu-hover-color-bg;
    border: none;
  }
}


/* FOOTER */

#profile-footer {
  background-color: $profile-footer-bg;
  color: $profile-footer;
  font-size: 90%;
  border-top:2px solid darken($footer-bg, 33.5%);
  ;
  margin:0;
  float:left;
  width:100%;
  padding: 20px 0;
}
#profile-footer a, #profile-footer a:visited {
  color: $profile-footer-link-color;
}

#product-list .expand-box {
  background-color: $catalog-details-bg;
}

#product-list .expand-box:hover {
  background-color: $catalog-details-bg-hover;
}

#content .block #display-product-name h2 {
  color: $product-name-color;
}

.block a, a, .block a:visited, a:visited {
  color: $links;
}

.block a:hover, a:hover, .block a:active, a:active {
  color: $links-hover;
}

#product-list .product-price, #product-list .product-unit {
  color: $product-price;
}

.controller-profile_editor .control-panel a:hover {
  color: $link-this-page;
  background-color: $link-this-page-bg;
  border-radius: 5px;
}

/* CONTROL PANEL */
#content #box-organizer .box-1 .blocks .link-list-block {
  height: auto;
  position: static;
  width:100%;
}
#content #box-organizer input.button, #content #box-organizer a.button {
  border: 1px solid #333;
}
body.noosfero #box-organizer a.button:hover, #content #box-organizer input.button:hover, #content #box-organizer a.button:hover {
  border: 1px solid #ccc;
}

/* BOOTSTRAP CUSTOMIZATION */

/* FUTURE
#theme-footer {
border-color: darken($footer-bg, 33.5%);
color: $footer-color;
a {
color: $footer-link-color;
}

nav.navbar-static-bottom {
background-color: $footer-bg;
}

}
 */
