.article-comment {
  border: none;
  background: #FFF;
}

.comment-logged-out h4 {
  color: #888;
}

#content .comment-picture {
  text-align: left;
  text-decoration: none;
  position: relative;
}

.comment-wrapper-1 {
  margin-left: 60px;
  background: url(../images/comment-bg-N.png)    0%   0% repeat-x;
}
.comment-wrapper-2 {
  background: url(../images/comment-bg-S.png)    0% 100% repeat-x;
}
.comment-wrapper-3 {
  background: url(../images/comment-bg-L.png)  100%   0% repeat-y;
}
.comment-wrapper-4 {
  background: url(../images/comment-bg-O.png)    0%   0% repeat-y;
}
.comment-wrapper-5 {
  background: url(../images/comment-bg-SL.png) 100% 100% no-repeat;
}
.comment-wrapper-6 {
  background: url(../images/comment-bg-SO.png)   0% 100% no-repeat;
}
.comment-wrapper-7 {
  background: url(../images/comment-bg-NL.png) 100%   0% no-repeat;
}
.comment-wrapper-8 {
  background: url(../images/comment-bg-NO.png)   0%   0% no-repeat;
}

.comment-from-owner .comment-wrapper-1 {
  background: url(../images/comment-owner-bg.png)   repeat;
}
.comment-from-owner .comment-wrapper-2 {
  background: url(../images/comment-owner-bg-N.png) 0% 0% repeat-x;
}
.comment-from-owner .comment-wrapper-3 {
  background: url(../images/comment-owner-bg-S.png)    0% 100% repeat-x;
}
.comment-from-owner .comment-wrapper-4 {
  background: url(../images/comment-owner-bg-L.png)  100%   0% repeat-y;
}
.comment-from-owner .comment-wrapper-5 {
  background: url(../images/comment-owner-bg-O.png)    0%   0% repeat-y;
}
.comment-from-owner .comment-wrapper-6 {
  background: url(../images/comment-owner-bg-SL.png) 100% 100% no-repeat;
}
.comment-from-owner .comment-wrapper-7 {
  background: url(../images/comment-owner-bg-SO.png)   0% 100% no-repeat;
}
.comment-from-owner .comment-wrapper-8 {
  background: url(../images/comment-owner-bg-NL.png) 100%   0% no-repeat;
}

.comment-from-owner .comment-details {
  background: url(../images/comment-owner-bg-NO.png)   0%   0% no-repeat;
}

.comment-created-at {
  position: relative;
  padding-right: 10px;
}

.comment-from-owner .comment-created-at {
  color: #37b;
}


.article-comment .button-bar {
  position: relative;
  top: 3px;
  right: 1px;
  z-index: 10px;
}
.article-comment .button-bar a {
  position: relative;
}

#addThis {
  text-align: right;
}

.comment-details {
  margin: 0px;
  padding: 7px 12px 3px 26px;
}

.blog-feed-link {
  float: right;
  margin-left: 5px;
  position: absolute;
  right: 0px;
}
