.controller-account #content .main-block {
  border: 2px solid #3465A4;
  padding: 10px 5%;
  background: #B8CFE7;
}

.controller-account .main-block label {
  font-weight: bold;
}

.controller-account .main-block small {
  color: #3465A4;
}

/* FIXME: remove the important without breaking ie */
.controller-account .button {
  * height: auto !IMPORTANT;
}

.controller-account .button-bar * {
  position: relative;
}
