
.controller-friends .profile-list .profile_link span {
  font-weight: bold;
}

.controller-friends .profile-list li:hover .profile_link span {
  color: #FFF;
}

.controller-friends .profile-list li:hover {
  border: 2px solid #2A5896;
  background: #729FCF;
}
