/************* enterprise homepage style *****************/

.controller-content_viewer .enterprise-info {
  background: #B8CFE7;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  padding: 5px;
  margin-bottom: 10px;
}

.controller-content_viewer .msie6 .enterprise-info {
  padding: 1px 5px 0px 5px;
  margin-bottom: 20px;
}

.controller-content_viewer .enterprise-info strong {
  color: #058;
}


.controller-content_viewer div.event-info {
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  background-color: #B8CFE7;
}

.controller-content_viewer li.event-dates {
  border: 1px solid #729FCF;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

.controller-content_viewer div.event-info div.event-description {
  border: 1px solid #729FCF;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}
