body {
  margin: 0px;
  padding: 0px;
  font-family: Verdana, sans-serif;
  font-size: 14px;
}
#wrap {
  background: url(images/bg-top-azul.png) 0px 0px repeat-x ;
}

#header {
  background-color: #2A5896;
  border-bottom: 1px solid white;
  height: 24px;
}

#logo {
  background: url(images/ico-fbes-fundo-azul.gif) 3px 3px no-repeat;
  padding-top: 5px;
}
#logo:before {
  content: "CIRANDAS";
  font-weight: bold;
  color: white;
  font-size: 11px;
  margin-left: 40px;
  padding-top: 5px;
}

.message {
  padding: 20px;
  margin: 20px;
  border: 1px solid #DDD;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  margin-left: 20%;
  margin-right: 20%;
}

.message h1 {
  text-align: left;
  margin-top: 10px;
  color: #2A5896;
  font-size: 24px;
}

.message p {
  text-align: justify;
}

#languages {
  margin-left: 20%;
  margin-right: 20%;
}
a, a:visited             { color: #05B }
a:hover, a:active        { color: #08F }
ul li {
  list-style: url(images/list-dot.gif);
}
