<%= render :file => "#{Rails.root}/public/designs/themes/cirandas/small_header.html.erb" %>

<div id="brand">
  <a href="http://cirandas.net/bem-da-terra">
    <img src="http://bemdaterra.org/content/wp-content/themes/bemdaterra/img/brand.png" alt="" />
  </a>
</div>

<div id="slogan-header">
  Comércio Justo e Solidário<br />
  Rede de grupos de consumo responsável
</div>
