<%= render :file => "#{Rails.root}/public/designs/themes/#{current_theme}/content_top.html.erb" rescue nil %>

<div id="content-inner">
  <%= insert_boxes(yield) %>
  <br style='clear: both'/>
</div><!-- end id="content-inner" -->
