
$base-color: #1FA1D0;
$navigation-color: #b1dfef;
$blocks-color: #CCEAF4;
$blocks-color2: #FEFBAE;
$link-color: #036276;
$light-link-color: #95ccff;
$profile-title-color: #036276;


$base-gradient: linear-gradient($base-color, darken($base-color,6.5%));
$blocks-gradient: linear-gradient($blocks-color, darken($blocks-color,6.5%));