@import '../cirandas-responsive/style';
@import url(//fonts.googleapis.com/css?family=Oldenburg);


body{
  background: #FFF;
}

#wrap-1{
  border-radius: 20px;
  margin: 20px auto;
}

#content{
  #profile-title{
    display: none;
  }
  .box-container-3 {
    nav.navbar.navbar-inverse {
      background: none;
      border: none;
      li{
        margin: 0 20px;
        a{
          color: #228B22;
          font-size: 24px;
          font-family: 'Oldenburg';
          &:hover{
            color: #EDD400;
          }
        }
      }
      ul.nav.navbar-nav {
        float: right;
        margin: 50px 0;
      }
    }
    .block-outer{
      float: left;
    }
    .article-block {
      max-width: 150px;
    }
  }
  .box-container-2{
    .link-list-block{
      li{
        background: none;
      }
      a, a[class*='icon-'] {
        font-family: 'Oldenburg';
        background: #228b22;
        border-radius: 5px;
        border: none;
        color: #fff;
        box-shadow: none;
        padding-left: 20px;
        &:hover{
          background: #EDD400;
        }
      }
    }
  }
  .main-block, #not-found, #access-denied{
    h1{
      color: #228B22;
      font-family: 'Oldenburg';
    }
  }
  .block h2, .block-title{
    color:  #228B22;
    border-bottom: 2px solid  #228B22;
    font-family: 'Oldenburg';
  }
  .products-block li a:hover{
     color:  #EDD400;
  }
}
.block a, a{
  color:  #EDD400;
}

#theme-footer{
  background: #fff;
}

#footer-profile {
  width: 100%;
  height: 80px;
  a{
    color: #228B22;
  }
}

#footer-logo{
  float: left;
  width: 40%;
  height: 60px;
  display: block;
  margin: 10px;
  #logo{
    background: url("images/fazcultura.png") no-repeat top left;
    width: 100%;
    height: 50px;
    display: block;
    span{
      display: none;
    }
  }
}

#footer-info{
  float:left;
  width: 50%;
  height: 80px;
}

#footer-links{
  width: 100%;
  margin: 10px 0;
  float: left;
}

#copyright{
  width: 100%;
  float: left;
  p{
    text-align: center;
  }
}

.quick-admin-link {
  font-weight: bold;
  font-size: 12px;
  border: 1px solid #87CEEB;
  background: #333;
  text-align: center;
  padding: 5px 10px;
  position: fixed;
  z-index: 100;
  border-left: none;
  border-radius: 0px 8px 8px 0px;
  left: 0px;
  text-decoration: none;
}
#theme-footer a.quick-admin-link {
  color: #87CEEB;
  a:hover {
    text-decoration: underline;
  }
}

#profile-admin {
  top: 10px;
}

#edit-blocks.quick-admin-link {
  top: 40px;
}

