<div class="profile-theme-header">
  <h1 class='page-title'>
  	<% if profile.image.present? %>
  		<div id='page-logo'>
	    	<%= link_to profile_image(profile, nil), profile.url %>
	    </div>
	<% end %>
    <div class="profile-name"><%= link_to profile.short_name, profile.url %></div>
  </h1>
</div>
